<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="http://www.seralf.it/hire-me">about</a></li>
	        		<li><a href="/blog">blog</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div>
			<!-- /.container -->
			
			<footer>
	    		<p>...</p>
			</footer>
			{% include google_analytics.html %}
		</body>
	</html>
